AML_COMPUTE_RESOURCE_ID=/subscriptions/<subscription>/resourceGroups/<resource-group>/providers/Microsoft.MachineLearningServices/workspaces/<workspace>/computes/<compute>
STORAGE_ACCOUNT_RESOURCE_ID=/subscriptions/<subscription>/resourceGroups/<resource-group>/providers/Microsoft.Storage/storageAccounts/<storage-account>
MANAGED_IDENTITY_RESOURCE_ID=/subscriptions/<subscription>/resourceGroups/<resource-group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<identity>
STORAGE_CONTAINER=training
AML_SSH_USER=azureuser
AML_SSH_PASSWORD=<password>